<div layout="vertical" layout-fill>

  <md-content class="centerPosition">
    <header ng-include="'app/components/navbar/navbar.html'"></header>
    <section class="jumbotron">
      <div class="songDetail">
        <h1 class="md-headline-3">{{currentSong.songName}}</h1>
        <h2>{{currentSong.artist}}</h2>
      </div>
      <div class="progressBar" layout="row" ng-hide="!currentSong.songName">
        <div class="leftTimer">{{determinateValue | secondsToTime | date:'mm:ss'}}</div>
        <md-progress-linear class="md-accent bar" md-mode="{{mode}}" value="{{percentageValue}}"></md-progress-linear>
        <div class="rightTimer">{{ timeRemaining | secondsToTime | date:'mm:ss' }}</div>
      </div>
      <div class="playOptions">
        <md-button class="md-raised" ng-disabled="!currentSong.songName" ng-click="previousSong()">Previous</md-button>
        <md-button class="md-raised md-primary" ng-disabled="!currentSong.songName" ng-hide="pauseFlag" ng-click="playSong()">Play</md-button>
        <md-button class="md-raised md-primary" ng-show="pauseFlag" ng-click="pauseSong()">Pause</md-button>
        <md-button class="md-raised" ng-disabled="!currentSong.songName" ng-click="nextSong()">Next</md-button>
      </div>

    </section>

    <div class="" layout-align="center">
      <div ng-include="'app/components/playerScreen/playerScreen.html'"></div>
    </div>
    <footer>
      <md-toolbar layout="row" layout-align="center center">
        <p>Vlad Ovidiu Tutunea <a href="https://github.com/vladovidiu" target="_blank">@vladovidiu</a></p>
      </md-toolbar>
    </footer>
  </md-content>
</div>
